<!doctype html>


<header>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/favicon.ico">

    <ul>
        <li><a href="/calendar/Home">Home</a></li>
        <li><a href="/calendar/pipeline">Pipeline</a></li>
        <li><a href="/eshop/category">Export</a></li>
        <li><a href="/eshop/create">Completed</a></li>
    </ul>
</header>
