<!doctype html>


<header>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/favicon.ico">

    <ul>
        <li><a href="/calendar/Home">Home</a></li>
        <li><a href="/calendar/pipeline">Pipeline</a></li>
        <li><a href="/calendar/category">Export</a></li>
        <li><a href="/calendar/complete">Completed</a></li>
        <div class="search-container">
            <form action="serch">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit">Search</button>
            </form>
        </div>
    </ul>
</header>
